<!DOCTYPE HTML>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Angular JS | Part 32</title>
      <script src="angular/angular.min.js"></script>
      <script src="angular/angular-cookies.min.js"></script>
   </head>
   <body  ng-app="mainApp">
     <!-- Content Here -->
     <div ng-controller="app">
         {{myCookieVal}}
         <input type="text" ng-model="cookieVal"/>
         <button ng-click="setCookie(cookieVal)">Update Cookie Value</button>
     </div>
     <!-- End Content -->
     <script>

     var app = angular.module("mainApp",["ngCookies"]);

     app.controller("app",function($scope,$cookies){
          $scope.myCookieVal = $cookies.get("cookie");
          $scope.setCookie = function(val){
             $cookies.put('cookie',val);
          }
     });

     </script>
   </body>
</html>
